*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
//google font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap');

//css variables
$dark-1: #1D1E24;
$dark-2 : #212428;
$dark-card : rgba(0, 0, 0, 0.2509803922);
$white-1 : #fff;
$white-2 : #C4CFDE;
$white-3 : #878E99;
$pink : #FF014F;
$dark-gradient : linear-gradient(to right bottom, #212428, #16181c);
$dark-gradient-2 :linear-gradient(145deg, #1e2024, #23272b);
$pink-gradient : linear-gradient(145deg, #f02981 0%, #c81901 100%);

$shadow-1 : 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
$shadow-2 : inset 21px 21px 19px #181a1d, inset -21px -21px 19px #202225;
$inner-shadow : 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
$shadow-white-3 : 5px 5px 15px #D1D9E6, -5px -5px 15px #fff;

$font-primary : 'Poppins', sans-serif;
$font-secondary : 'Montserrat', sans-serif;



//responsive-mixin
@mixin xsm(){
    @media screen and (max-width:575px){
        @content;
    }
}
@mixin xsm-to-tablet {
    @media screen and (max-width:991px){
        @content;
    }
}
@mixin  phone() {
    @media screen and (min-width:576px){
        @content;
    }
}
@mixin tablet() {
   @media screen and (min-width:768px){
       @content;
   } 
}
@mixin leptop() {
    @media screen and (min-width:992px){
        @content;
    }
}
@mixin desktop() {
    @media screen and (min-width:1200px){
        @content;
    }
}
//responsive-mixin-end

// element-mixin-start
@mixin subTitle() {
    font-size: 14px;
    color: $pink;
    font-family: $font-secondary;
    font-weight: 500;
    display: inline-block;
    margin: 0px 0px 10px 0px;
    @include tablet(){
        
    }
}
@mixin title () {
    color: $white-2;
    font-size: 32px;
    font-weight: 700;
    font-family: $font-secondary;
    line-height: 1.2;
}

@mixin title-sm () {
    color: $white-2;
    font-size: 20px;
    font-weight: 700;
    font-family: $font-secondary;
    line-height: 1.2;
}

@mixin pera() {
    color: $white-3;
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 400;
}
// element-mixin-end


@import "0-main";
@import "footer";
@import "1-resume";
@import "2-work";
@import "3-contact";